In [3]:
import pandas as pd
import re
import emoji

In [9]:
# Function to clean text
def clean_text(text):
    # Remove URLs
    text = re.sub(r'http\S+|www\S+|https\S+', '', text, flags=re.MULTILINE)
    
    # Remove emojis
    text = emoji.replace_emoji(text, replace='')

    # Remove mentions (@username)
    text = re.sub(r'@\w+', '', text)
    
    # Remove hashtags
    text = re.sub(r'#\w+', '', text)
    
    # Remove HTML tags
    text = re.sub(r'<.*?>', '', text)
    
    # Remove special characters, brackets, and digits
    text = re.sub(r'[\[\]{}()<>]', '', text)
    text = re.sub(r'[^a-zA-Z\s]', '', text)
    
    # Remove newlines (\n)
    text = re.sub(r'\n', ' ', text)  # Replace newlines with a space (you can replace with '' if you want to remove completely)
    
    # Convert to lowercase and strip extra whitespace
    text = text.lower().strip()
    
    return text

In [11]:
# Load the CSV file
df = pd.read_csv('sampled_data.csv')

df.head()

                                        comment_text  abusive
0                       jm \n\nDid u block me on msn        0
1  New Hope, PA? \n\nHow are two musicians from N...        0
2  "\n\n THE BOSTON RED SOX \n\n""The Red Sox are...        1
3          Yup, it's fine for now, thanks.  (''talk)        0
4  Did you remove my post on the discussion page ...        0

In [12]:


# Apply cleaning function to the 'text' column
df['cleaned_text'] = df['comment_text'].apply(clean_text)

# Save the cleaned data to a new CSV file
df.to_csv('cleaned_file.csv', index=False)

print("Cleaning completed and saved to 'cleaned_file.csv'.")

Cleaning completed and saved to 'cleaned_file.csv'.

In [13]:
df.head()

,comment_text,abusive,cleaned_text
0,jm \n\nDid u block me on msn,0,jm did u block me on msn
1,"New Hope, PA? \n\nHow are two musicians from N...",0,new hope pa how are two musicians from new h...
2,"""\n\n THE BOSTON RED SOX \n\n""""The Red Sox are...",1,the boston red sox the red sox are the great...
3,"Yup, it's fine for now, thanks. (''talk)",0,yup its fine for now thanks talk
4,Did you remove my post on the discussion page ...,0,did you remove my post on the discussion page ...